* {
	margin: 0;
}

a {

	text-decoration: none;
}


body {
	background-image: url(Background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 100px;
	position: relative;
	
	}


	p2 {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		font-family: Verdana;
		color: whitesmoke;
		margin-top: 50px;
		filter: opacity(20%);
		margin-bottom: 100px;
	}


	p2:hover{

		text-decoration: underline;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		filter: opacity(90%);
		border-radius: 20px;
		text-shadow: 0px 0px 50px black;
	}

	p {
		font-family: Verdana;
		color: whitesmoke;
		text-align: center;
		font-size: 40px;
		filter: drop-shadow(10px);
		margin-bottom: 30px;

	}


	h3 {
		font-family: Verdana;
		color: whitesmoke;
		text-align: center;
		font-size: 100px;
		filter: drop-shadow(10px);
	}


	.circle1 {
		background-color: #73AD5C;
		height: 400px;
		width: 400px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		top: -300px;
		right: -600px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle2 {
		background-color: #780101;
		height: 400px;
		width: 400px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		top: -200px;
		left: -700px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle3 {
		background-color: #032045;
		height: 400px;
		width: 1000px;
		border-radius: 100%;
		filter: blur(400px);
		position: fixed;
		bottom: -200px;
		left: -300px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}
	.circle4 {
		background-color: #032045;
		height: 400px;
		width: 1000px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		bottom: -500px;
		left: 600px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle6 {
		background-color: #ed4c8c;
		height: 400px;
		width: 400px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		bottom: -500px;
		right: -600px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}




.button-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		font-family: verdana;
		margin-top: 20px;
		font-size: 20px;

	

}

.button1 {
	background-color: #636160;
	padding: 30px;
	border-radius: 15px;
	color: whitesmoke;
	margin: 50px;



}

.button1:hover {
	
	background-color: #780101;
	color: #F26F6F;



}

.button2 {
	background-color: #636160;
	padding: 30px;
	border-radius: 15px;
	color: whitesmoke;
	margin: 100px;



}

.button2:hover {
		background-color: tan;
		color: #4D2E20;


}

.button3 {
	background-color: #636160;
	padding: 30px;
	border-radius: 15px;
	color: whitesmoke;
	margin: 50px;



}

.button3:hover {
	
	background-color: #183619;
	color: #E0E8BA;


}

.button4 {
	background-color: #636160;
	padding: 30px;
	border-radius: 15px;
	color: whitesmoke;
	margin: 50px;


}

.button4:hover {
	
	background-color: #032045;
	color: lightcyan;


}

.button5 {
	background-color: #636160;
	padding: 30px;
	border-radius: 15px;
	color: whitesmoke;
	margin: 50px;
	



}

.button5:hover {
	
	background-color: #C91A82;
	color: #FFADDE;



}







@keyframes fade {
		from{
			opacity: 1;
		}
		to{

			opacity: 0.01;
		}


	}


@keyframes size {
		0%{
			height: 400px;
			width: 400px;
		}
		100%{
			height: 800px;
			width: 800px;
		
		}

	}
	@keyframes size1 {
		0%{
			height: 600px;
			width: 100px;
		}
		100%{
			height: 300px;
			width: 200px;
		
		}

	}



@media screen and (max-width: 1390px) {
	p {
		font-size: 30px;

	}

	h3 {

		font-size: 60px;
	}

	body {
	background-image: url(Background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 100px;
	
	}



	.button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: verdana;
		margin-top: 70px;
		font-size: 30px;

	

}



}

@media screen and (max-width: 860px) {
	p {
		font-size: 20px;

	}

	h3 {

		font-size: 40px;
	}

	body {
	background-image: url(Background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 100px;
	
	}



	.button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: verdana;
		margin-top: 70px;
		font-size: 20px;

	

}





	.circle1 {
		background-color: #73AD5C;
		height: 400px;
		width: 400px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		top: -300px;
		right: -600px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle2 {
		background-color: #780101;
		height: 400px;
		width: 400px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		top: -200px;
		left: -700px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle3 {
		background-color: #032045;
		height: 400px;
		width: 1000px;
		border-radius: 100%;
		filter: blur(400px);
		position: fixed;
		bottom: -200px;
		left: -300px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}
	.circle4 {
		background-color: #032045;
		height: 400px;
		width: 1000px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		bottom: -500px;
		left: 600px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle6 {
		background-color: #ed4c8c;
		height: 100px;
		width: 100px;
		border-radius: 100%;
		filter: blur(100px);
		position: fixed;
		bottom: -400px;
		right: -800px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}



}

@media screen and (max-width: 580px) {
	p {
		font-size: 15px;

	}

	h3 {

		font-size: 25px;
	}

	body {
	background-image: url(Background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 100px;
	
	}



	.button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-family: verdana;
		margin-top: 70px;
		font-size: 10px;

	

}


	.circle1 {
		background-color: #73AD5C;
		height: 400px;
		width: 400px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		top: -300px;
		right: -600px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle2 {
		background-color: #780101;
		height: 400px;
		width: 400px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		top: -200px;
		left: -700px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle3 {
		background-color: #032045;
		height: 400px;
		width: 1000px;
		border-radius: 100%;
		filter: blur(400px);
		position: fixed;
		bottom: -200px;
		left: -300px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}
	.circle4 {
		background-color: #032045;
		height: 400px;
		width: 1000px;
		border-radius: 100%;
		filter: blur(200px);
		position: fixed;
		bottom: -500px;
		left: 600px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}

	.circle6 {
		background-color: #ed4c8c;
		height: 100px;
		width: 100px;
		border-radius: 100%;
		filter: blur(100px);
		position: fixed;
		bottom: -400px;
		right: -800px;
		z-index: -999;

		animation-name: fade;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

		animation-name: size;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;

}


}